.ulll li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 0px solid #111111;
}

.ulll li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.ulll li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 15px;
  padding: 25px 25px 25px 60px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.ulll li:hover label{
	color: #00AA00;
}

.ulll li .check{
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.ulll li:hover .check {
  border: 5px solid #00AA00;
}

.ulll li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 4px;
	left: 4px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0D0092;
}

input[type=radio]:checked ~ .check::before{
  background: #0D0092;
}

input[type=radio]:checked ~ label{
  color: #0D5555;
}
