

div.log {
		position: relative;
		left: 450px;
		top: 100px;
		width:400px;
		height: 400px; 
		border:3px solid #E8F8F5 ;
		background-color: #EAECEE;
		border-radius: 25px;
		background: red; 
 		background: -webkit-linear-gradient(#D6EAF8, #FDFEFE); 
   		background: -o-linear-gradient(#D6EAF8, #FDFEFE); 
   		background: -moz-linear-gradient(#D6EAF8, #FDFEFE); 
   		background: linear-gradient(#D6EAF8, #FDFEFE)


}
#f1{
	padding-top: 100px;
}
input[placeholder] {
	
	border-radius: 10px;
	font-family: serif;
	font-size: 25px;
	border:none;
}
#btn1{
	background-color: #D6EAF8;
	font-size: 20px;
	border-radius: 20px;
	width: 198px;
	height: 50px;
	border:none;
	 
}
#btn2{
	background-color: #D6EAF8;
	font-size: 20px;
	border-radius: 20px;
	width:198px;
	height: 50px;
	border:none;
	

}
#btn3{
	background-color:#AED6F1  ;
	font-size: 20px;
	border-radius: 10px;
	height: 40px;
	width: 65px;
}

